<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/auth/login']">AssBook Lite</a>
    @if(logged()){
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" [routerLink]="['/posts']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts/add']">New post</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts/profile']">Profile</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" (click)="logout($event)" aria-hidden="true">Logout</a>
        </li>
      </ul>
    }    
  </div>
</nav>
